<header class="meals-nav__main">
  <div class="meals-nav__wrapper">
    <div class="meals-nav__left">< Go Back</div>
    <div class="meals-nav__middle">
      <div class="logo">
        <img src="assets/img/logo/logo.png" alt="logo" />
      </div>
    </div>
    <div class="meals-nav__right">
      <div class="header__btn d-none d-lg-block">
        <button (click)="handleSidebar()" class="button-meals">
          <img
            src="assets/img/momIcons/basket-shopping-simple-solid.svg" class="pr-5"
            alt="cart" style="width: 20px;"
          />
          <span>14/14 Meals Selected</span>
        </button>
      </div>
      <div class="header__btn d-block d-lg-none">
        <button (click)="handleSidebar()"  class="button-meals" width="40">
          <img
            src="assets/img/momIcons/basket-shopping-simple-solid.svg"
            alt="cart"
          />
        </button>
      </div>
    </div>
  </div>
</header>

<!-- sidebar area start -->
<div class="sidebar__area" [class.sidebar-opened]="showSidebar"  >
  <div class="sidebar__wrapper">
<div class="d-flex justify-content-between">
      <div class="close-menu-nav">
        <button (click)="handleSidebarClose()" class="close-menu-side">X</button>
      </div>
  <div class="logo mb-40">
    <button class="e-btn">
      <img src="assets/img/momIcons/basket-shopping-simple-solid.svg" alt="cart" />
      <span>14/14 Meals</span>
    </button>
  </div>
</div>
    <div class="sidebar__content position-relative" joyrideStep="step1" title=""
text="Review and confirm your meals donec dapibus vestibulum urna rhoncus elementum. Praesent tristique sed magna nec consectetur. ">



      <div class="side-info-content sidebar-menu mm-menu">
        <div class="main-meals-info">
          <span class=""><strong>14/14 Meals</strong></span>

          <div class="delivery-date">
            <p>Delivery date:</p>
            <p>Monday, April 24</p>
          </div>
        </div>
    <div class="meals-orderd">
      <div class="d-flex flex-row order-list">
        <img src="assets/img/placeholders/orderd.png" alt="placeholder" />
        <div class="order-details">
          <p class="oreder-title main-color">User Selected Meal Title Goes Here</p>
          <p class="remove-order">remove</p>
          <p class="order-count">
            <button (click)="handleDecreaseCart('one')">-</button>
            <span>{{count}}</span>
            <button (click)="handleAddCart('one')">+</button>
          </p>
        </div>
      </div>
    </div>
        <div class="meals-orderd">
          <div class="d-flex flex-row order-list">
            <img src="assets/img/placeholders/orderd.png" alt="placeholder" />
            <div class="order-details">
              <p class="oreder-title main-color bold museo">User Selected Meal Title Goes Here</p>
              <p class="remove-order">remove</p>
              <p class="order-count">
                <button>-</button>
                <span>1</span>
                <button>+</button>
              </p>
            </div>
          </div>
        </div>
        <div class="meals-orderd">
          <div class="d-flex flex-row order-list">
            <img src="assets/img/placeholders/orderd.png" alt="placeholder" />
            <div class="order-details">
              <p class="oreder-title main-color bold museo">User Selected Meal Title Goes Here</p>
              <p class="remove-order">remove</p>
              <p class="order-count">
                <button >-</button>
                <span>1</span>
                <button >+</button>
              </p>
            </div>
          </div>
        </div>
        <div class="meals-orderd">
          <div class="d-flex flex-row order-list">
            <img src="assets/img/placeholders/orderd.png" alt="placeholder" />
            <div class="order-details">
              <p class="oreder-title main-color bold museo">Lorem ipsum dolor sit.</p>
              <p class="remove-order">remove</p>
              <p class="order-count">
                <button>-</button>
                <span>1</span>
                <button>+</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  (click)="handleSidebarClose()"
  class="body-overlay"
  [class.opened]="showSidebar"
></div>
<!-- sidebar area end -->
