<div class="delivery-info pt-50 pb-20">
  <div class="delivery-info__area account-cards ">
    <div class="delivery-info__main">
      <div class="row">
        <div class="col-12 d-flex head-title">
          <p class="roboto bold">Delivery Address</p>
        </div>
        <div class="col-12 delivery-info__description">
          <p>
            Curabitur pharetra ligula non libero tempus tincidunt. Ut id erat placerat, pellentesque lectus sed, ornare
            dolor.
            Donec
            ac metus in orci iaculis blandit quis vitae odio.
          </p>
          <p>Call XXX-XXX-XXXX to edit or learn more</p>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="delivery-info pb-20">
  <div class="delivery-info__area account-cards ">
    <div class="delivery-info__main">
      <div class="row">
        <div class="col-12 d-flex head-title">
          <p class="roboto bold">Delivery Instructions</p>
            <a (click)="enableEditMode()" style="margin-left: auto;" *ngIf="!editMode">Edit Info</a>
        </div>
        <div class="col-12 delivery-info__description" *ngIf="!editMode">

      <p>{{ textInput }}</p>
        </div>
        <form (ngSubmit)="onSubmit()" *ngIf="editMode" class="d-flex flex-column">
          <mat-form-field>
            <textarea matInput placeholder="Enter your text" [(ngModel)]="textInput" name="textInput" required></textarea>

          </mat-form-field>
<div class="action-btns">
  <button mat-button class="cancel-btn presonal-cancel-form" (click)="disableEditMode()">Cancel</button>
  <button mat-raised-button class=" presonal-save-form" color="primary" type="submit" (click)="disableEditMode()">Save
    Changes</button>
</div>
        </form>

      </div>
    </div>
  </div>

</div>
<div class="delivery-info pb-20">
  <div class="delivery-info__area account-cards ">
    <div class="delivery-info__main">
      <div class="row">
        <div class="col-12 d-flex head-title">
          <p class="roboto bold">Delivery Dates</p>
        </div>
        <div class="col-12 delivery-info__description">
          <p>Curabitur vel efficitur risus, id scelerisque neque. Donec ultrices tincidunt urna et egestas. Cras ipsum magna,
            mattis
            in justo a, rhoncus tempor erat.</p>
        </div>

        <div class="col-12">
<div class="cards-wrapper">
  <div *ngFor="let date of dates; let i = index">
    <div class="card-container">
      <mat-card class="date-card">
        <i class="far fa-calendar-edit"></i>
        <h3>{{ date | date:'MMMM d' }}</h3>

      </mat-card>
      <a (click)="picker.open()">Edit</a>

      <input matInput [matDatepicker]="picker" [(ngModel)]="dates[i]" (dateChange)="changeDate($event, i)"
        style="visibility: hidden;" />
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>
</div>


        </div>
<div class="col-12 d-flex justify-content-end mt-3">
  <button mat-raised-button class="save-changes-btn" color="primary" type="submit" (click)="disableEditMode()">Save
    Changes</button>
</div>
      </div>
    </div>
  </div>

</div>

<div class="delivery-info pb-20">
  <div class="delivery-info__area account-cards ">
    <div class="delivery-info__main">
      <div class="row">
        <div class="col-12 d-flex head-title">
          <p class="roboto bold">Skip a delivery</p>
        </div>
        <div class="col-12 delivery-info__description">
          <p>Curabitur vel efficitur risus, id scelerisque neque.</p>
        </div>

        <div class="col-12">
  <div class="cards-wrapper">
    <div *ngFor="let card of cards" class="d-flex flex-column align-items-center">
      <mat-card class="date-card" [ngClass]="{ 'skipped': card.isSkipped }">
        <i class="far fa-box box-icon">
          <span class="box-number museo">{{ card.id }}</span>
        </i>
        <p class="museo bold">{{ card.day }}</p>
        <p class="museo bold">{{ card.date }}</p>
        <div class="overlay" *ngIf="card.isSkipped"></div>
        <div class="line" *ngIf="card.isSkipped"></div>
      </mat-card>
      <a (click)="toggleSkip(card)">{{ skipText(card.isSkipped) }}</a>
    </div>
  </div>

<div class="col-12 d-flex justify-content-end mt-3">
  <button mat-raised-button class="save-changes-btn" color="primary" type="submit" (click)="disableEditMode()">Save
    Changes</button>
</div>
        </div>

      </div>
    </div>
  </div>

</div>
