<app-header-one></app-header-one>
<div class="bg-grey">
  <div class="account-overview__area pt-200">
    <h2>Account Overview</h2>
    <div class="d-flex flex-column flex-md-row">
      <div class="account-overview__main">
        <div class="account-overview__sidebar">
          <ul>
            <li routerLinkActive="active">
              <i class="far fa-user"></i>
              <a (click)="setActive()" routerLink="personal-details" >Personal Details</a>
            </li>
            <li routerLinkActive="active">
              <i>
              <img src="assets/img/momIcons/openBox.svg" alt="box">
              </i>
              <a (click)="setActive()" routerLink="delivery-info" >Delivery Info</a>
            </li>
            <li  routerLinkActive="active">
              <i class="far fa-plus-square"></i>
              <a (click)="setActive()" routerLink="benefit-details">Benefit Details</a>
            </li>
            <li routerLinkActive="active">
              <i>
                <img src="../../../../assets/img/momIcons/Union.svg" alt="Union">
              </i>
              <a (click)="setActive()" routerLink="dietary-preferences" >Dietary Preferences</a>
            </li>

          </ul>
        </div>
      </div>
      <div class="account-overview__content pb-100">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
