<app-header-one></app-header-one>
<div class="bg-grey">
  <div class="account-overview__area pt-200">
    <h2>Account Overview</h2>
    <div class="d-flex flex-column flex-md-row">
      <div class="account-overview__main">
        <div class="account-overview__sidebar">
          <ul>
            <li>
              <i class="far fa-user"></i>
              <a (click)="setActive()" routerLink="personal-details" routerLinkActive="active">Personal Details</a>
            </li>
            <li>
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive"
                  viewBox="0 0 16 16">
                  <!-- Rest of the SVG code -->
                </svg>
              </i>
              <a (click)="setActive()" routerLink="delivery-info" routerLinkActive="active">Delivery Info</a>
            </li>
            <li>
              <i class="far fa-plus-square"></i>
              <a (click)="setActive()" routerLink="benefit-details" routerLinkActive="active">Benefit Details</a>
            </li>
            <li>
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel"
                  viewBox="0 0 16 16">
                  <!-- Rest of the SVG code -->
                </svg>
              </i>
              <a (click)="setActive()" routerLink="dietary-preferences" routerLinkActive="active">Dietary Preferences</a>
            </li>

          </ul>
        </div>
      </div>
      <div class="account-overview__content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
