@use '../abstract' as *;

/*----------------------------------------*/
/*  05. BANNER CSS START
/*----------------------------------------*/

.banner{
  &__area{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    display: flex;
    background-color: #304659 ;
  }
  &__title{
    margin: auto;
    p{
      font-size: 0.8rem;
      padding-top: 5px;
      font-family: 'Poppins', sans-serif;
      text-align: center;
        color: #fff;
    }

  }
}

