@use "../abstract" as *;

.your-orders{
&__area{
  background-color: $main-bg;
  min-height: 100vh;
}
&__main{
  .title{
    span{
      font-family: $SempB;
      display: block !important;
      margin: auto;
      font-size: 25px;
      color:$main
    }
  }
}
}
.tour-1{
  h2{
    font-family: $SempB;
    font-weight: 800;
  font-size: 1.4rem !important;
  }
  p{
    width: 80%;

  }
}
