<div class="meals-hero__area pt-130" >
  <div class="meals-hero__main" >
      <div class="meals-hero__title">
        <h2>Choose Your Meals</h2>

      </div>
      <div class="meals-hero__sub-title">
        <span>Delivery Day: April 24</span>
      </div>
      <img src="https://firebasestorage.googleapis.com/v0/b/neue-welt-d499e.appspot.com/o/startups%2Fmasj.png?alt=media&token=09cf3f97-e2f0-4474-9bd4-014c8d60cf86" alt="">
  </div>
</div>

<div class="meals-preferences__area">
  <div class="meals-preferences__main">
    <div class="meals-preferences__sub-title">
      <span>Preferences: </span>
      <div class="chip">
        <span class="close-icon">&times;</span>
      General Wellness
      </div>
      <div class="chip">
        <span class="close-icon">&times;</span>
        No Fish
      </div>
      <div class="chip">
        <span class="close-icon">&times;</span>
        No Tree Nuts
      </div>

    </div>
  </div>
</div>
