<div class="single-slider swiper-slide slider__height flex items-center pt-150"
  [ngStyle]="{background:'url(https://firebasestorage.googleapis.com/v0/b/neue-welt-d499e.appspot.com/o/startups%2Fimage_placeholder.png?alt=media&token=eee1fcef-1d54-48eb-b8ef-21223c0da4c3)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
<section class="signup__area po-rel-z1 pt-100 pb-145">

  <div class="container">
    <div class="row">
      <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
        <div class="sign__wrapper white-bg">
          <div class="sign__header mb-35">
            <div class="sign__in text-center">
             Log in to your Mom's Meal account
            </div>
          </div>
          <div class="sign__form">
            <form action="#">
              <div class="sign__input-wrapper mb-25">

                <div class="sign__input">
                  <input type="text" placeholder="Email address">

                </div>
              </div>
              <div class="sign__input-wrapper mb-10">
                <div class="sign__input">
                  <input type="text" placeholder="Password">
                </div>
              </div>

              <button class="rectangular-btn" style=" margin: 20px auto;" [routerLink]="['/home']"> <span></span> Log In</button>
              <div class="sign__action d-sm-flex justify-content-center mb-30 mt-10 text-center">
                <div class="sign__forgot">
                  <a href="#">Forgot your password?</a>
                </div>
              </div>
              <div class="sign__new text-center mt-20">
                <p>Don't have an account? <a [routerLink]="['register']">Get Started</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>

