<header>
  <div id="header-sticky" class="header__area header__transparent header__padding">
    <div class="header__wrapper">
      <div class="row align-items-center justify-content-center">
        <div class="col-xxl-3 col-xl-3 col-lg-2 col-md-2 col-sm-4 col-6">
          <div class="header__left d-flex">
            <div class="logo">
              <a [routerLink]="['/']">
                <img width="70" src="../../../assets/img/logo/logo.png" alt="logo" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-xxl-9 col-xl-9 col-lg-10 col-md-10 col-sm-8 col-6">
          <div class="header__right d-flex justify-content-end justify-content-xl-end align-items-center">
            <div class="header__btn ml-20 ">
              <span >
            <div class="sign__new text-center mt-20">
              <p>Don't have an account? <a [routerLink]="['register']">Get Started</a></p>
            </div>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>

