<section class="meal__area pt-120 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-xxl-4 col-xl-4 col-lg-4">
        <div class="meal__sidebar pl-70">
          <div class="meal__sidebar-widget grey-bg">
            <div class="meal__sidebar-info">
              <h3 class="meal__sidebar-title pt-20 filter">
                <img src="assets/img/momIcons/noun-filter-4025735.png" alt="" />
                Filter
              </h3>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    <h3 class="meal__sidebar-title">Protieins</h3>
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <ul>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-eng"
                          />
                          <label class="m-check-label" for="m-eng"
                            >lorem (6)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-edu"
                          />
                          <label class="m-check-label" for="m-edu"
                            >lorem (8)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-bus"
                          />
                          <label class="m-check-label" for="m-bus"
                            >lorem (5)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-design"
                          />
                          <label class="m-check-label" for="m-design">
                            lorem (3)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-math"
                          />
                          <label class="m-check-label" for="m-math"
                            >lorem (3)</label
                          >
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="true"
                    aria-controls="collapseTwo"
                  >
                    <h3 class="meal__sidebar-title pt-20">Featured Meals</h3>
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <ul>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-eng"
                          />
                          <label class="m-check-label" for="m-eng"
                            >lorem (6)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-edu"
                          />
                          <label class="m-check-label" for="m-edu"
                            >lorem (8)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-bus"
                          />
                          <label class="m-check-label" for="m-bus"
                            >lorem (5)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-design"
                          />
                          <label class="m-check-label" for="m-design">
                            lorem (3)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-math"
                          />
                          <label class="m-check-label" for="m-math"
                            >lorem (3)</label
                          >
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="true"
                    aria-controls="collapseThree"
                  >
                    <h3 class="meal__sidebar-title pt-20">Meal Type</h3>
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <ul>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-eng"
                          />
                          <label class="m-check-label" for="m-eng"
                            >lorem (6)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-edu"
                          />
                          <label class="m-check-label" for="m-edu"
                            >lorem (8)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-bus"
                          />
                          <label class="m-check-label" for="m-bus"
                            >lorem (5)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-design"
                          />
                          <label class="m-check-label" for="m-design">
                            lorem (3)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-math"
                          />
                          <label class="m-check-label" for="m-math"
                            >lorem (3)</label
                          >
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="true"
                    aria-controls="collapseFour"
                  >
                    <h3 class="meal__sidebar-title pt-20">Exclusoions</h3>
                  </button>
                </h2>
                <div
                  id="collapseFour"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <ul>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-eng"
                          />
                          <label class="m-check-label" for="m-eng"
                            >lorem (6)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-edu"
                          />
                          <label class="m-check-label" for="m-edu"
                            >lorem (8)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-bus"
                          />
                          <label class="m-check-label" for="m-bus"
                            >lorem (5)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-design"
                          />
                          <label class="m-check-label" for="m-design">
                            lorem (3)</label
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          class="meal__sidebar-check mb-10 d-flex align-items-center"
                        >
                          <input
                            class="m-check-input"
                            type="checkbox"
                            id="m-math"
                          />
                          <label class="m-check-label" for="m-math"
                            >lorem (3)</label
                          >
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-8 col-lg-8">
        <div class="meal__tab-conent">
          <div class="tab-content" id="mealTabContent">
            <div
              class="tab-pane fade show active"
              id="grid"
              role="tabpanel"
              aria-labelledby="grid-tab"
            >
              <div class="row">
                <div
                  *ngFor="let meal of mealData"
                  class="col-xxl-4 col-xl-4 col-lg-6 col-md-4"
                >
                  <div class="meal__item white-bg mb-30 fix">
                    <div class="meal__thumb w-img p-relative fix">
                      <a [routerLink]="['/meal-details']">
                        <img src="{{ meal.mealImage }}" alt="" />
                      </a>
                      <div class="meal__tag">
                        <a href="#"
                          ><img
                            src="../../../../assets/img/momIcons/Badge_Fan Favorite.png"
                            alt=""
                        /></a>
                      </div>
                    </div>
                    <div class="meal__content">
                      <div
                        class="meal__meta d-flex align-items-center justify-content-center"
                      >
                        <div class="meal__lesson">
                          <span>99902</span>
                        </div>
                      </div>
                      <h3 class="meal__title text-center">
                        <a [routerLink]="['/meal-details']">
                          Lorem, ipsum dolor.</a
                        >
                      </h3>
                      <div
                        class="meal__client d-flex align-items-center justify-content-center"
                      >
                        <div class="meal__client-thumb mr-15">
                          <button class="AddtoCart">Add to Cart</button>
                        </div>
                      </div>
                    </div>
                    <div
                      class="meal__more d-flex justify-content-end align-items-center"
                    >
                      <div class="meal__btn">
                        <a [routerLink]="['/meal-details']" class="link-btn">
                          More Details
                          <i>></i>
                          <i>></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="list"
              role="tabpanel"
              aria-labelledby="list-tab"
            >
              <div class="row">
                <div *ngFor="let meal of mealData" class="col-xxl-12">
                  <div class="meal__item white-bg mb-30 fix">
                    <div class="row gx-0">
                      <div class="col-xxl-4 col-xl-4 col-lg-4">
                        <div
                          class="meal__thumb meal__thumb-list w-img p-relative fix"
                        >
                          <a [routerLink]="['/meal-details']">
                            <img src="{{ meal.listImg }}" alt="" />
                          </a>
                          <div class="meal__tag">
                            <a href="#"> </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-8 col-xl-8 col-lg-8">
                        <div class="meal__right">
                          <div class="meal__content meal__content-4">
                            <div class="meal__meta d-flex align-items-center">
                              <div class="meal__lesson mr-20"></div>
                              <div class="meal__rating">
                                <span><i class="icon_star"></i></span>
                              </div>
                            </div>
                            <h3 class="meal__title">
                              <a [routerLink]="['/meal-details']"> </a>
                            </h3>
                            <div class="meal__client d-flex align-items-center">
                              <div class="meal__client-thumb mr-15"></div>
                              <h6>
                                <a [routerLink]="['/instructor-details']"> </a>
                              </h6>
                            </div>
                          </div>
                          <div
                            class="meal__more meal__more-2 meal__more-3 d-flex justify-content-between align-items-center"
                          >
                            <div class="meal__status d-flex align-items-center">
                              <span></span>
                              <span class="old-price"></span>
                            </div>
                            <div class="meal__btn">
                              <a
                                [routerLink]="['/meal-details']"
                                class="link-btn"
                              >
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
