<div class="delivery-info pt-50 pb-20">
  <div class="delivery-info__area account-cards ">
    <div class="delivery-info__main">
      <div class="row">
        <div class="col-12 d-flex head-title">
          <p class="bold roboto">Dietary Restrictions</p>
        </div>
        <div class="col-12 delivery-info__description">
          <p>
            Curabitur pharetra ligula non libero tempus tincidunt. Ut id erat placerat, pellentesque lectus sed, ornare
            dolor.
            Donec
            ac metus in orci iaculis blandit quis vitae odio.
          </p>

        </div>
        <div class="row meal-benefit__bottom pt-50 pb-50 d-flex justify-content-center text-center gap-5">
          <div class="col-12  col-lg-4">
            <div class="dietary-info-content">
              <div class="d-flex flex-row justify-content-center">
                <div class="sub-details-icon">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/neue-welt-d499e.appspot.com/o/sectors%2Fdish.png?alt=media&token=90bcd972-864e-4c81-99c1-4b0978c1ac6d"
                    alt="icon">
                </div>
                <div class="dietary-info-subtitle ">
                  <p><Strong>Menu Type</Strong></p>
                </div>
              </div>
              <div class="dietary-info-description pl-50">
                <p class="roboto">Scelerisque</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="dietary-info-content">
              <div class="d-flex flex-row justify-content-center">
                <div class="sub-details-icon">
                  <i class="fas fa-wheat pr-4 pl-4" style="font-size: 35px;"></i>
                </div>
                <div class="dietary-info-subtitle ">
                  <p><Strong>Allergence</Strong></p>
                </div>
              </div>
              <div class="dietary-info-description pl-50">
                    <ul class="text-center">
                      <li>
                        Vestibulum
                      </li>
                      <li>Quisque</li>
                      <li>Nunc</li>
                    </ul>
              </div>
            </div>
          </div>
          <div class="col-12  col-lg-3">
            <div class="dietary-info-content">
              <div class="d-flex flex-row justify-content-center">
                <div class="sub-details-icon">
                      <i class="fas fa-carrot pr-5 pl-5" style="font-size: 35px;"></i>

                </div>
                <div class="dietary-info-subtitle ">
                  <p><Strong>Menu Type</Strong></p>
                </div>
              </div>
              <div class="dietary-info-description pl-50">
                <p class="roboto">Scelerisque</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 call-dietray ">
          <p class="roboto"><strong>Call XXX-XXX-XXXX</strong> to edit or learn more</p>
        </div>

      </div>
    </div>
  </div>

</div>
